<div class="downloadcenter">
<a href="{{ .Site.BaseURL }}playlist/Channel 1 - All Songs Mix.m3u">
  <img src="{{ .Site.BaseURL }}/img/download.png"></a>
  Channel 1 - All Songs Mix </br>
</div>

<div class="downloadcenter">
<a href="{{ .Site.BaseURL }}playlist/Channel 2 - Acoustic Jam.m3u">
  <img src="{{ .Site.BaseURL }}/img/download.png"></a>
Channel 2 - Acoustic Jam </br>
</div>

<div class="downloadcenter">
<a href="{{ .Site.BaseURL }}playlist/Channel 3 - Easy Rock.m3u">
  <img src="{{ .Site.BaseURL }}/img/download.png"></a>
Channel 3 - Easy Rock </br>
</div>

<div class="downloadcenter">
<a href="{{ .Site.BaseURL }}playlist/Channel 4 - Pure Love Songs.m3u">
  <img src="{{ .Site.BaseURL }}/img/download.png"></a>
Channel 4 - Pure Love Songs </br>
</div>

<div class="downloadcenter">
<a href="{{ .Site.BaseURL }}playlist/Channel 5 - Foreign Mix.m3u">
  <img src="{{ .Site.BaseURL }}/img/download.png"></a>
Channel 5 - Foreign Mix </br>
</div>

<div class="downloadcenter">
<a href="{{ .Site.BaseURL }}playlist/Channel 6 - OPM Mix.m3u">
  <img src="{{ .Site.BaseURL }}/img/download.png"></a>
Channel 6 - OPM Mix </br>
</div>

<div class="downloadcenter">
<a href="{{ .Site.BaseURL }}playlist/Channel 7 - OPM Alternatives.m3u">
  <img src="{{ .Site.BaseURL }}/img/download.png"></a>
Channel 7 - OPM Alternatives </br>
</div>

<div class="downloadcenter">
<a href="{{ .Site.BaseURL }}playlist/Channel 8 - OPM Rock Oldies.m3u">
  <img src="{{ .Site.BaseURL }}/img/download.png"></a>
Channel 8 - OPM Rock Oldies </br>
</div>

<div class="downloadcenter">
<a href="{{ .Site.BaseURL }}playlist/live.m3u">
  <img src="{{ .Site.BaseURL }}/img/download.png"></a>
Live Channel </br>
</div>

<div class="downloadcenter">
<a href="{{ .Site.BaseURL }}playlist/test.m3u">
  <img src="{{ .Site.BaseURL }}/img/download.png"></a>
Test Channel </br>
</div>

