<!-- Place this tag where you want the button to render. -->
<a class="github-button" href="https://github.com/rphradio/rphradio.net/archive/master.zip" data-icon="octicon-cloud-download" data-style="mega" aria-label="Download rphradio/rphradio.net on GitHub">Download Source</a>

<!-- Place this tag where you want the button to render. -->
<a class="github-button" href="https://github.com/rphradio/rphradio.net/issues" data-icon="octicon-issue-opened" data-style="mega" aria-label="Issue rphradio/rphradio.net on GitHub">Report Issue</a>

<!-- Place this tag where you want the button to render. -->
<a class="github-button" href="https://github.com/rphradio/rphradio.net/fork" data-icon="octicon-repo-forked" data-style="mega" aria-label="Fork rphradio/rphradio.net on GitHub">Fork</a>
