 

<ul class="graphic">
  <li><a href="http://rphradio.net:8000/mpd.mp3">Channel 1 - All Songs Mix</a></li>
  <li><a href="http://rphradio.net:8000/mpd2.mp3">Channel 2 - Acoustic Jam</a></li>
  <li><a href="http://rphradio.net:8000/mpd3.mp3">Channel 3 - Easy Rock</a></li>
  <li><a href="http://rphradio.net:8000/mpd4.mp3">Channel 4 - Pure Love Songs</a></li>
  <li><a href="http://rphradio.net:8000/mpd5.mp3">Channel 5 - Foreign Mix</a></li>
  <li><a href="http://rphradio.net:8000/mpd6.mp3">Channel 6 - OPM Mix</a></li>
  <li><a href="http://rphradio.net:8000/mpd7.mp3">Channel 7 - OPM Alternatives</a></li>
  <li><a href="http://rphradio.net:8000/mpd8.mp3">Channel 8 - OPM Rock Oldies</a></li>
 </ul>
