
<div id="live-id" class="live-wrapper">
<marquee><center><b>NOW PLAYING:  <span id="track-title-live"> Channel is currently offline, see schedule of DJ's.</span></b></center></br></marquee>
 <ul class="graphic2">
  <li><a href="http://rphradio.net:8000/live.mp3"><b>TUNE-IN LIVE</b></a></li>
<div class="fb-share-button" data-href="http://localhost:1313/beta/" data-layout="button" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Flocalhost%3A1313%2Fbeta%2F&amp;src=sdkpreparse">Share</a></div>
<a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-text="I&#39;m Live! listen to my online radio broadcast :)" data-url="http://localhost:1313/beta/" data-show-count="false">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</ul>
</div>

<iframe src="https://kiwiirc.com/client?settings=40e36cf49d66ba81abce4872510f6be1" style="border:0; width:101%; height:650px;"></iframe>