<div id="live-id" class="live-wrapper">
<marquee><center><b>NOW PLAYING:  <span id="track-title-live"> Channel is currently offline, see schedule of DJ's.</span></b></center></br></marquee>
 <ul class="graphic2">
  <li><a href="http://rphradio.net:8000/live.mp3"><b>TUNE-IN LIVE</b></a></li>
<div class="fb-share-button" data-href="http://rphradio.net" data-layout="button" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Frphradio.net%2F&amp;src=sdkpreparse">Share</a></div>
<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://rphradio.net" data-text="I'm on-air! check out my live broadcast now at" data-size="large" data-hashtags="rphradio">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</ul>
</div>

<iframe src="https://kiwiirc.com/client?settings=40e36cf49d66ba81abce4872510f6be1" style="border:0; width:101%; height:650px;"></iframe>